body {
    background-color: darkcyan;
    font-family: "Roboto";
}

form {
    background-color: lightgray;
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 20%;
    width: 400px;
    padding: 40px;
    border: 3px solid #36454F;
    border-radius: 5%;
    box-shadow: 10px 5px 5px #36454F;
}

.name {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.email {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.phone {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.box {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.butt {
    text-align: center;
    padding: 10px;

}

button {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    border-radius: 20%;
    font-size: 20px;
    transition: background-color .5s;
}

button:hover {
    background-color: rgb(161, 230, 230);
    color: black;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 5%;
}

input {
    width: 200px;
}